# Getting Baseline Numbers

In [1]:
import pandas as pd
import numpy as np

In [2]:
draft_df = pd.read_csv('Fantasy Projections - 2018_19 - 2018_espn_draft.csv')

In [3]:
draft_df.sample(10)

    pick            player position
53    54    Nikola Vucevic        C
14    15         John Wall       PG
52    53      Clint Capela        C
28    29       CJ McCollum       PG
8      9      LeBron James       SF
45    46    Andrew Wiggins       SG
64    65  Robert Covington       PF
27    28       Eric Gordon       SG
18    19     Klay Thompson       SG
87    88    Jamal Crawford       SG

In [4]:
df_top_80 = draft_df[draft_df['pick'] <= 80]

In [5]:
df_top_80.tail(5)

    pick          player position
75    76     Gary Harris       SG
76    77      Lonzo Ball       PG
77    78     Rodney Hood       SG
78    79   Zach Randolph       PF
79    80  Brandon Ingram       PF

In [6]:
df_top_80.groupby('position').count()

          pick  player
position
C           15      15
PF          19      19
PG          21      21
SF          12      12
SG          13      13

In [7]:
df1 = pd.read_csv('Fantasy Projections - 2018_19 - 2018_espn_player_positions.csv')
df2 = pd.read_csv('projected_fantasy_pts_final_2018_19.csv')

In [8]:
df1.sample()

     player_name  player_id season_id espn_position
3  Anthony Davis     203076   2018-19            PF

In [9]:
df2.sample()

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk,fantasy_pts
248,Jose Calderon,101181,2018-19,6.44,17.61,2.44,5.77,0.74,1.98,0.87,1.08,0.29,1.4,2.66,0.64,1.2,0.11,6.78

In [10]:
df3 = df1.merge(df2, how='left', on='player_id')

In [11]:
df3.sample()

,player_name_x,player_id,season_id_x,espn_position,player_name_y,season_id_y,pts,min,fgm,fga,...,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk,fantasy_pts
117,J.J. Barea,200826,2018-19,PG,J.J. Barea,2018-19,10.76,27.21,4.08,9.7,...,3.97,1.09,1.41,0.33,2.25,5.15,0.71,1.77,0.06,11.56

In [12]:
df_final = df3[['player_name_x', 'player_id', 'season_id_x', 'espn_position', 'fantasy_pts']]

In [13]:
df_final.head()

           player_name_x  player_id season_id_x espn_position  fantasy_pts
0           LeBron James       2544     2018-19            SF        29.17
1      Russell Westbrook     201566     2018-19            PG        28.43
2  Giannis Antetokounmpo     203507     2018-19            SF        28.36
3          Anthony Davis     203076     2018-19            PF        27.98
4           James Harden     201935     2018-19            SG        26.48

In [14]:
df_final = df_final.rename(columns={
    'player_name_x':'player_name',
    'seadon_id_x':'season_id'
})

In [15]:
position_dictionary = {
    'PG': 21,
    'SG': 13,
    'SF': 12,
    'PF': 19,
    'C': 15
}

In [16]:
positions = ['PG', 'SG', 'SF', 'PF', 'C']

In [17]:
def calc_baseline(position, df):
    df_filter = df[df['espn_position'] == position]
    x = position_dictionary.get(position)
    replacement_player = df_filter.iloc[x]
    print(replacement_player)
    value_to_subtract = replacement_player['fantasy_pts']
    return value_to_subtract

In [18]:
baseline_points = {}
for position in positions:
    y = calc_baseline(position, df_final)
    baseline_points[position] = y

player_name      Darren Collison
player_id                 201954
season_id_x              2018-19
espn_position                 PG
fantasy_pts                12.09
Name: 107, dtype: object
player_name      JJ Redick
player_id           200755
season_id_x        2018-19
espn_position           SG
fantasy_pts          13.14
Name: 85, dtype: object
player_name      Thaddeus Young
player_id                201152
season_id_x             2018-19
espn_position                SF
fantasy_pts               13.86
Name: 71, dtype: object
player_name      Bobby Portis
player_id             1626171
season_id_x           2018-19
espn_position              PF
fantasy_pts             12.81
Name: 88, dtype: object
player_name      Jonas Valanciunas
player_id                   202685
season_id_x                2018-19
espn_position                    C
fantasy_pts                  14.02
Name: 68, dtype: object

In [19]:
df_final.sample()

     player_name  player_id season_id_x espn_position  fantasy_pts
13  Devin Booker    1626164     2018-19            SG        21.28

In [20]:
baseline_points

{'PG': 12.09, 'SG': 13.14, 'SF': 13.86, 'PF': 12.81, 'C': 14.02}